@charset "UTF-8";
*{margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
body{-webkit-text-size-adjust:none}
ul,ol{list-style:none}
button{-webkit-border-radius:0;border-radius:0;background-color:transparent;cursor:pointer}
a,a:hover,a:active,a:focus{text-decoration:none}
em,address{font-style:normal}
table{border-collapse:collapse;border-spacing:0}
iframe,fieldset,img{border:0}
textarea{resize:none}
input[type="button"],input[type="email"],input[type="number"],input[type="password"],input[type="reset"],input[type="search"],input[type="submit"],input[type="tel"],input[type="text"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
img{vertical-align:top}
hr{display:none}
button{border:0; background:transparent;display:inline-block;}
/* Global Common */
.for-a11y{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0)}
form{text-align: center;}
input{display:inline-block;width:80%;text-align: center;line-height:30px;font-size:20px;box-shadow: none;border:1px solid #ddd;margin-top:30px;border-radius: 5px;}
.wrap{width:100%;height:100vh;}
.field{position:relative;height:80%;background-color:#f2f2f2;overflow: hidden;}
.word{
    &__list{position:relative;width:100%;height:100%;}
    &__item{position:absolute;display:inline-block;width:20%;padding:0 10px;line-height:25px;height:25px;background-color:#ddd;color:#666;text-align: center;
        // @for $i from 0 through 10{
        //     &:nth-child(#{$i}){
        //         $num:-1;
        //         left:calc((#{$i+$num}) * 20%);
        //     }
        // }
    }
}
.bottom{height:20%;border-top:1px solid blue;}
.start{display:inline-block;position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);z-index:100;line-height:40px;height:40px;padding:0 20px;font-size:25px;background-color:#0d5efe;color:#fff;border-radius: 10px;}
.dim{display:block;position:fixed;width:100%;height:100%;z-index:50;background-color:rgba(0,0,0,.5)}
