@charset "utf-8";
.cont{padding:20px 15px}
.calc{width:100%;max-width:320px;margin:0 auto; margin-top:100px;background-color:#f2f2f2;border-radius:8px;padding:30px 20px;
    &__moniter{background-color:#000;color:#fff;padding:10px 30px;border-radius: 8px;font-size:30px;overflow: auto;}
    &__nums{white-space: nowrap;}
    &__wrap{margin-top:40px;}
    &__inner{
        &.type-monitor{overflow: auto;}
    }
    &__inbox{
        &.type-keys{width:80%;}
        &.type-operator{width:18%;}
    }
}
.calc-nums{
    &__list{margin:-10px 0 0 -10px;}
    &__item{padding:10px 0 0 10px; width:33.33%;
        &:last-child{width:100%;}
    }
    &__num{display:block;background-color:#666;color:#fff;text-align:center;height:50px; line-height:50px;border-radius: 4px;}
}
.calc-operator{
    &__list{}
    &__item{height:50px;line-height:50px; font-size:16px;background-color:#ddd;border-radius: 4px;text-align: center;
        & + & {margin-top:10px;}
    }
}
