@charset "utf-8";
.box__event-header{background:url(http://image.gmarket.co.kr/Gmkt_Event/2021/03/0301_yuhan/image__top.jpg) no-repeat 50% 0}
.box__top-visual{position:relative;width:980px;height:300px;margin:0 auto}
.box__top-visual .button__join{position:absolute;left:1px;bottom:80px;width:379px;height:48px;border:1px solid #b8b8bb}
.box__top-visual .button__join:hover{border-color:#808089}

.box__event-container{text-align:center}
.box__inner{position:relative;width:980px;margin:0 auto}

.box__event-navigation{position:relative;width:980px;height:72px;top:-36px;margin:0 auto;z-index:10}
.box__event-navigation .box__inner{height:72px;}
.box__event-navigation .box__inner.js-fixed{position:fixed;top:72px;left:0;right:0;z-index:100;}
.box__event-navigation .list__navi{overflow:hidden;position:absolute;top:0;left:0;right:0;height:100%;z-index:10;font-size:0;line-height:0}
.box__event-navigation .list__navi a{display:inline-block;width:327px;height:72px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2021/03/0301_yuhan/image__navi-off.jpg) no-repeat}
.box__event-navigation .list__navi a.active{background-image:url(http://image.gmarket.co.kr/Gmkt_Event/2021/03/0301_yuhan/image__navi-on.jpg)}
.box__event-navigation .list__navi .link__navi1,
.box__event-navigation .list__navi .link__navi1.active{background-position:0 0}
.box__event-navigation .list__navi .link__navi2,
.box__event-navigation .list__navi .link__navi2.active{background-position:50% 0}
.box__event-navigation .list__navi .link__navi3,
.box__event-navigation .list__navi .link__navi3.active{width:326px;background-position:100% 0}

.box__yuhan{margin-top:-70px;padding-top:70px}

.box__section1{position:relative;margin-top:-100px;padding-top:170px}
.box__section1 .box__title{height:211px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2021/03/0301_yuhan/image__title_1.jpg) no-repeat 50% 0}
.box__section1 .box__inner{width:1078px;height:516px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2021/03/0301_yuhan/image__coupon.jpg) no-repeat 50% 0}
.box__section1 .button__coupon{position:absolute;bottom:85px;width:330px;height:64px;}
.box__section1 .button__coupon.type-left{left:10.5%}
.box__section1 .button__coupon.type-right{right:10.5%}
.box__section1 .button__content-notice{position:absolute;bottom:20px;left:65%;width:200px;height:50px;}
.box__event-layer{display:none;position:absolute;right:0;left:0;top:373px;z-index:100;transform:translateZ(1px)}
.box__event-layer .button__close-layer{position:absolute;width:100%;height:100%;left:0;top:0;text-indent:-9999px;border:0;background:#000;opacity:0}
.dim{display:block;position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;background:#000;opacity:0.5;filter:alpha(opacity=50)}

.box__section2 .box__title{height:200px;padding-top:80px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2021/03/0301_yuhan/image__title_2.jpg) no-repeat 50% 100%}
.box__section2 .list__sale .list-item{margin-bottom:50px}

.box__section3{padding-bottom:50px}
.box__section3 .box__title{height:246px;padding-top:80px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2021/03/0301_yuhan/image__title_3.jpg) no-repeat 50% 100%}
