.wrap { width: 100%; max-width: 1200px; margin: 0 auto; }

.cont { border: 1px solid #ddd; padding: 15px 20px; }

.cont-top { border-bottom: 1px solid #ddd; padding-bottom: 15px; }

.color__item { width: 100px; height: 100px; border-radius: 50%; color: #fff; }

.color__item.type-c2 { color: #222; }

.color__item + .color__item { margin-left: 30px; }
