@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;700&display=swap");
* { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 10px; font-family: "Malgun Gothic","맑은 고딕",sans-serif; }

body { -webkit-text-size-adjust: none; }

ul, ol, li { list-style: none; margin: 0; padding: 0; }

button { -webkit-border-radius: 0; border-radius: 0; background-color: transparent; cursor: pointer; }

a, a:hover, a:active, a:focus { text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

img { vertical-align: top; }

button { border: 0; background: transparent; display: inline-block; }

.for-a11y { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0 0 0 0); }

.num { font-family: 'Noto Sans KR', sans-serif; }

.fl { float: left; }

.fr { float: right; }

.clb:after { content: ""; display: block; clear: both; }

.section { min-width: 320px; max-width: 700px; }

.star-list__inbox.type-title { position: relative; padding: 15px 100px 9px 0; border-bottom: 1px solid #f5f5f5; }

.star-list__title { line-height: 1.5; font-size: 15px; font-weight: normal; color: #000; letter-spacing: -0.5px; }

.star-list__btn { position: absolute; right: 0; padding-right: 15px; font-size: 1.5rem; line-height: 1.4; }

.star-list__btn.type-a { color: #476ee3; bottom: 9px; }

.star-list__btn.type-a:after { content: ""; display: block; position: absolute; top: 0; right: 0; width: 15px; height: 12px; margin-top: 4px; background-position: -92px -50px; background-image: url("../img/images.png"); }

.star-list__btn.type-b { color: #e82230; bottom: 0; }

.star-list__btn.type-b:after { content: ""; display: block; position: absolute; top: 0; right: 0; width: 15px; height: 12px; margin-top: 4px; background-position: -92px -70px; background-image: url("../img/images.png"); }

.star-list__item { position: relative; padding: 20px 0px 20px 0; }

.star-list__item + .star-list__item { border-top: 1px solid #f5f5f5; }

.star-list__inner { position: relative; padding-left: 94px; font-size: 0; min-height: 100px; }

.star-list__img { position: absolute; left: 24px; }

.star-list__info.type-txt { margin-left: 20px; }

.star-list__number { position: absolute; left: 0; top: 0; font-size: 15px; font-weight: bold; line-height: 1.5; color: #000; }

.star-list__name { display: inline-block; font-size: 15px; color: #000; line-height: 1.5; }

.star-list__bottom { position: relative; margin-top: 30px; padding-right: 75px; font-size: 0; }

.star-list__rate { display: inline-block; font-size: 1.5rem; line-height: 1.5; }

.star-list__open { display: inline-block; font-size: 1.5rem; line-height: 1.5; }

.star-list__open + .star-list__rate { position: relative; margin-left: 1.1rem; padding-left: 1rem; }

.star-list__open + .star-list__rate:before { content: ""; display: block; position: absolute; left: -1px; top: 0.5rem; width: 1px; height: 1.2rem; background-color: #eaeaea; }

.star { font-size: 0; margin-top: 6px; }

.star__back { display: inline-block; position: relative; width: 106px; height: 17px; background-image: url("../img/images.png"); background-repeat: no-repeat; background-position: 0 0; }

.star__rating { display: inline-block; position: absolute; left: 0; top: 0; width: 106px; height: 17px; background-image: url("../img/images.png"); background-repeat: no-repeat; background-position: 0 -20px; }

.star__txt { display: inline-block; position: relative; top: -2px; margin-left: 6px; font-size: 16px; font-weight: bold; color: #989898; }

.star__score { color: #000; font-size: 16px; }

@media screen and (max-width: 430px) { html { font-size: 8px; }
    .star-list__btn.type-a:after, .star-list__btn.type-b:after { top: -2px; }
    .star-list__bottom { padding-right: 70px; } }
